* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
        background-image: url("imgs/fundo-site.svg");
}

img {
    width: 30%;
    height: auto;
  
}

h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #df0d0d;
        margin: 20px;
        text-align: center;
}